NEXT_PUBLIC_API_URL=http://localhost:3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
BETTER_AUTH_SECRET=replace-me-with-a-random-string
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
GOOGLE_CLIENT_ID=replace-me-with-your-google-client-id
GOOGLE_CLIENT_SECRET=replace-me-with-your-google-client-secret