NEXT_PUBLIC_API_URL=http://localhost:3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres
BETTER_AUTH_SECRET=replace-me-with-a-random-string
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
GOOGLE_CLIENT_ID=replace-me-with-your-google-client-id
GOOGLE_CLIENT_SECRET=replace-me-with-your-google-client-secret
R2_ACCOUNT_ID=replace-me-with-r2-account-id
R2_ACCESS_KEY_ID=replace-me-with-r2-access-key-id
R2_SECRET_ACCESS_KEY=replace-me-with-r2-secret-access-key
R2_BUCKET=replace-me-with-r2-bucket
NEXT_PUBLIC_R2_PUBLIC_URL=https://example-public-r2-url
AZURE_SERVICE_BUS_CONNECTION_STRING=Endpoint=sb://replace-me.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=replace-me
AZURE_SERVICE_BUS_QUEUE_NAME=transcode-jobs
WORKER_SECRET=replace-me-with-worker-secret
CRON_SECRET=replace-me-with-cron-secret
NEXT_PUBLIC_R2_PUBLIC_URL=https://example-public-r2-url